/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+csharp+markdown+powershell+python+rust&plugins=line-numbers+toolbar+copy-to-clipboard */
/** prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML Based on https://github.com/chriskempson/tomorrow-theme @author Rose Pritchard */
code[class*="language-"], pre[class*="language-"] { color: #ccc; background: none; font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; font-size: 1em; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; word-wrap: normal; line-height: 1.5; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

/* Code blocks */
pre[class*="language-"] { padding: 1em; margin: .5em 0; overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #2d2d2d; }

/* Inline code */
:not(pre) > code[class*="language-"] { padding: .1em; border-radius: .3em; white-space: normal; }

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata { color: #999; }

.token.punctuation { color: #ccc; }

.token.tag, .token.attr-name, .token.namespace, .token.deleted { color: #e2777a; }

.token.function-name { color: #6196cc; }

.token.boolean, .token.number, .token.function { color: #f08d49; }

.token.property, .token.class-name, .token.constant, .token.symbol { color: #f8c555; }

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin { color: #cc99cd; }

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable { color: #7ec699; }

.token.operator, .token.entity, .token.url { color: #67cdcc; }

.token.important, .token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.token.inserted { color: green; }

pre[class*="language-"].line-numbers { position: relative; padding-left: 3.8em; counter-reset: linenumber; }

pre[class*="language-"].line-numbers > code { position: relative; white-space: inherit; }

.line-numbers .line-numbers-rows { position: absolute; pointer-events: none; top: 0; font-size: 100%; left: -3.8em; width: 3em; /* works for line-numbers below 1000 lines */ letter-spacing: -1px; border-right: 1px solid #999; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.line-numbers-rows > span { display: block; counter-increment: linenumber; }

.line-numbers-rows > span:before { content: counter(linenumber); color: #999; display: block; padding-right: 0.8em; text-align: right; }

div.code-toolbar { position: relative; }

div.code-toolbar > .toolbar { position: absolute; top: .3em; right: .2em; transition: opacity 0.3s ease-in-out; opacity: 0; }

div.code-toolbar:hover > .toolbar { opacity: 1; }

/* Separate line b/c rules are thrown out if selector is invalid. IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar { opacity: 1; }

div.code-toolbar > .toolbar .toolbar-item { display: inline-block; }

div.code-toolbar > .toolbar a { cursor: pointer; }

div.code-toolbar > .toolbar button { background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0; -webkit-user-select: none; /* for button */ -moz-user-select: none; -ms-user-select: none; }

div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span { color: #bbb; font-size: .8em; padding: 0 .5em; background: #f5f2f0; background: rgba(224, 224, 224, 0.2); box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); border-radius: .5em; }

div.code-toolbar > .toolbar a:hover, div.code-toolbar > .toolbar a:focus, div.code-toolbar > .toolbar button:hover, div.code-toolbar > .toolbar button:focus, div.code-toolbar > .toolbar span:hover, div.code-toolbar > .toolbar span:focus { color: inherit; text-decoration: none; }

html { font-size: 16px; word-break: normal; overflow-wrap: break-word; }

body { background-color: #212121; font-family: "source-han-sans-japanese", sans-serif; color: #e6e6e6; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.25rem; }

h5, h6 { font-size: 1rem; }

p { font-weight: 300; line-height: 1.5; margin: 2rem 0; }

p a { text-decoration: underline; }

a { color: #82AAFF; }

a:focus, a:hover { color: #80CBC4; }

#mainNav { background-color: #1a1a1a; }

#mainNav .navbar-brand { font-weight: 700; color: #BABABA; }

#mainNav .navbar-toggler { padding: -1rem 0; border-color: rgba(0, 0, 0, 0); outline: none; box-shadow: none; }

#mainNav .navbar-toggler > .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102, 102, 102, 1)' stroke-width='2' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

#mainNav .navbar-nav > li.nav-item > a { color: #BABABA; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; }

@media only screen { #mainNav .navbar-brand { color: #BABABA; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: #80CBC4; }
  #mainNav .navbar-nav > li.nav-item > a { color: #BABABA; }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover { color: #80CBC4; } }

header { margin: 4.5rem 0 1rem; }

header .page-heading, header .post-heading, header .site-heading { color: #e6e6e6; text-align: center; }

header .page-heading h1, header .post-heading h1, header .site-heading h1 { font-size: 2rem; }

header .page-heading .subheading, header .site-heading .subheading { font-size: 1.5rem; font-weight: 300; line-height: 2; }

header .post-heading .meta, header .post-heading .subheading { line-height: 2; }

header .post-heading .subheading { font-size: 1.5rem; font-weight: 700; }

header .post-heading .meta { color: #e6e6e6; font-size: 1rem; font-weight: 300; }

@media screen and (min-width: 768px) { header { margin: 6rem 0 2rem; } }

a.badge.badge-dark, a.badge.badge-light, a.badge.select { font-weight: 400; font-family: "source-code-pro", "source-han-sans-japanese", monospace; padding-top: .2rem; text-decoration: none; }

a.badge.badge-dark:focus, a.badge.badge-dark:hover, a.badge.badge-light:focus, a.badge.badge-light:hover, a.badge.select:focus, a.badge.select:hover { background-color: #212121; color: #80CBC4; }

a.badge.badge-light { background-color: #C698E6; color: #1a1a1a; }

a.badge.badge-dark { background-color: #1a1a1a; color: #C698E6; }

a.badge.select { background-color: #212121; color: #80CBC4; }

.post-header { text-align: center; }

.post-body { margin-top: -1rem; }

.post-body h1, .post-body h2, .post-body h3 { margin-top: 2rem; }

.post-footer { margin-top: 2rem; }

.post-footer img { width: 6rem; }

.post-meta { color: #BABABA; }

.post-nav { margin-bottom: 1.5rem; }

.post-preview { background-color: #1a1a1a; margin-bottom: 1rem; }

.post-preview > a { color: #e6e6e6; }

.post-preview > a:focus, .post-preview > a:hover { text-decoration: none; color: #80CBC4; }

.post-preview > a > .post-title { font-size: 2rem; }

.post-preview > a > .post-subtitle { font-weight: 300; }

.post-preview > .post-meta { color: #BABABA; }

.post-preview > .post-meta > a { text-decoration: none; color: #BABABA; }

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover { text-decoration: underline; color: #80CBC4; }

h1.group-year { color: #80CBC4; text-align: center; }

footer p { color: #BABABA; }

.about { text-align: center; }

.btn { font-size: .8rem; font-weight: 700; text-transform: uppercase; }

.btn:hover, .btn:focus, .btn:active { color: #1a1a1a !important; background-color: #80CBC4 !important; border-color: #80CBC4 !important; }

.btn:focus { box-shadow: 0 0 0 0.2rem #347e77 !important; }

.btn-primary { color: #1a1a1a; background-color: #82AAFF; border-color: #82AAFF; }

.table { background-color: #1a1a1a; color: #e6e6e6; }

.card { background-color: #1a1a1a; margin-bottom: 1.5rem; }

code, pre, code[class*="language-"], pre[class*="language-"] { background: #2A2D37; font-family: "source-code-pro", "source-han-sans-japanese", monospace; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; overflow-wrap: normal; margin: 1.5rem 0; }

pre { padding: 1rem; }

:not(pre) > code { color: #F4ABC4; margin: 0 .25rem; padding: 0 .25rem; border-radius: 4px; overflow-wrap: break-word; }

div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span { color: #80CBC4; background: #1a1a1a; font-size: 1em; border-radius: 4px; background: rgba(224, 224, 224, 0.2); }

code[class*="language-csharp"] .token.string, pre[class*="language-csharp"] .token.string { color: #C3E88D; }

code[class*="language-csharp"] .token.namespace, pre[class*="language-csharp"] .token.namespace { color: #FFCB6B; }

code[class*="language-csharp"] .token.namespace > .punctuation, pre[class*="language-csharp"] .token.namespace > .punctuation { color: #f07178; }

code[class*="language-csharp"] .token.type-list > .class-name, pre[class*="language-csharp"] .token.type-list > .class-name { color: #C698E6; }

code[class*="language-csharp"] .token.class-name, pre[class*="language-csharp"] .token.class-name { color: #FFCB6B; }

code[class*="language-csharp"] .token.class-name > .keyword, pre[class*="language-csharp"] .token.class-name > .keyword { color: #F78C6C; }

code[class*="language-csharp"] .token.keyword, pre[class*="language-csharp"] .token.keyword { color: #C698E6; }

code[class*="language-csharp"] .token.boolean, pre[class*="language-csharp"] .token.boolean { color: #F4ABC4; }

code[class*="language-csharp"] .token.function, pre[class*="language-csharp"] .token.function { color: #82AAFF; }

code[class*="language-csharp"] .token.operator, pre[class*="language-csharp"] .token.operator { color: #89DDFF; }

code[class*="language-csharp"] .token.named-parameter.punctuation, pre[class*="language-csharp"] .token.named-parameter.punctuation { color: #FFCB6B; }

code[class*="language-csharp"] .token.punctuation, pre[class*="language-csharp"] .token.punctuation { color: #89DDFF; }
