header {
  margin: 4.5rem 0 1rem;

  .page-heading,
  .post-heading,
  .site-heading {
    color: $primary;
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  .page-heading,
  .site-heading {
    .subheading {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2;
    }
  }

  .post-heading {
    .meta,
    .subheading {
      line-height: 2;
    }

    .subheading {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .meta {
      color: $primary;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    margin: 6rem 0 2rem;
  }
}