.post-header {
  text-align: center;
}

.post-body {
  margin-top: -1rem;

  h1, h2, h3 {
    margin-top: 2rem;
  }
}

.post-footer {
  margin-top: 2rem;

  img {
    width: 6rem;
  }
}

.post-meta {
  color: $secondary;
}

.post-nav {
  margin-bottom: 1.5rem;
}

.post-preview {
  background-color: $backgroundAlt;
  margin-bottom: 1rem;

  > a {
    color: $primary;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $accent;
    }

    > .post-title {
      font-size: 2rem;
    }

    > .post-subtitle {
      font-weight: 300;
    }
  }

  > .post-meta {
    color: $secondary;

    > a {
      text-decoration: none;
      color: $secondary;

      &:focus,
      &:hover {
        text-decoration: underline;
        color: $accent;
      }
    }
  }
}

h1.group-year {
  color: $accent;
  text-align: center;
}