a.badge.badge-dark,
a.badge.badge-light,
a.badge.select {
  font-weight: 400;
  font-family: $font-code;
  padding-top: .2rem;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: $background;
    color: $accent;
  }
}

a.badge.badge-light {
  background-color: $purple;
  color: $backgroundAlt;
}

a.badge.badge-dark {
  background-color: $backgroundAlt;
  color: $purple;
}

a.badge.select {
  background-color: $background;
  color: $accent;
}