$white: #ffffff;
$black: #000000;
$red: #f07178;
$orange: #F78C6C;
$yellow: #FFCB6B;
$green: #C3E88D;
$cyan: #89DDFF;
$blue: #82AAFF;
$purple: #C698E6;
$brown: #916b53;
$pink: #F4ABC4;

$background: #212121;
$backgroundAlt: #1a1a1a;
$contrastBorder: #000000;
$accent: #80CBC4;
$primary: #e6e6e6;
$secondary: #BABABA;

$font-code: 'Source Code Pro', monospace;
$font-serif: 'Noto Serif JP', serif;
$font-sans-serif: 'Noto Sans JP', sans-serif;