code,
pre,
code[class*=language-],
pre[class*=language-] {
  color: $primary;
  font-family: $font-family-monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
}

pre,
pre[class*=language-] {
  padding: 1rem;
  margin: .5rem 0;
}

:not(pre) > code,
pre,
:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #2A2D37;
}

:not(pre) > code {
  color: $pink;
  font-weight: 400;
  margin: 0 .25rem;
  padding: 0 .25rem;
  border-radius: 4px;
  overflow-wrap: break-word;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: $secondary;
  background: $backgroundAlt;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: $accent;
}

.token.comment,
.token.block-comment,
.token.cdata,
.token.doctype,
.token.prolog {
  color: $secondary;
}

.token.operator,
.token.punctuation {
  color: $cyan;
}

.token.function-name,
.token.function {
  color: $blue;
}

.token.boolean {
  color: $pink;
}

.token.number {
  color: $orange;
}

.token.attr-name,
.token.namespace,
.token.class-name,
.token.constant,
.token.property,
.token.symbol,
.token.deleted,
.token.tag {
  color: $yellow;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: $purple;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable,
.token.entity,
.token.url {
  color: $green;
}
