<div class="about">
    <div class="card">
        <div class="card-body p-4">
            <img class="card-img-top rounded" src="@Context.GetString("LinkRoot")/assets/icon.png" alt="icon" style="width: 10rem">
            <p class="card-text">
                C#が好きなひきニート
            </p>
            <p>
                <img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fatcoder-badges.now.sh%2Fapi%2Fatcoder%2Fjson%2FAconCavy" alt="">
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="nav-link fab fa-twitter fa-2x" href="https://twitter.com/AconCavy"></a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link fab fa-github fa-2x" href="https://github.com/AconCavy"></a>
                </li>
            </ul>
        </div>
    </div>
</div>