<div class="post-footer mt-5">
    <div class="share">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" url="@Document.GetLink()" data-size="large">
            Tweet
        </a>
    </div>

    <hr>

    <div class="row justify-content-center m-3 about">
        <div class="col-md-3 mt-3">
            <img class="rounded-circle" src="@Context.GetString("LinkRoot")/assets/icon.webp" alt="icon"/>
        </div>
        <div class="col-md-3 mt-3">
            <div class="col">
                <h5>AconCavy</h5>
                <div class="profile">
                    C#が好きなひきニート
                </div>
            </div>
            <div class="col">
                <a class="nav-link fab fa-twitter fa-2x" href="https://twitter.com/AconCavy"></a>
                <a class="nav-link fab fa-github fa-2x" href="https://github.com/AconCavy"></a>
            </div>
        </div>
    </div>
</div>