Order: 0
ArchiveSources: => GetString("PostSources")
ArchiveDestination: >
  => GetInt("Index") < 2 ? $"index.html" : $"page/{GetInt("Index")}.html"
ArchivePageSize: 3
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("Title")
---
<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-md-8 col-sm-height">
            @await Html.PartialAsync("_posts.cshtml", Document)
        </div>
        <div class="col-md-4 col-sm-height">
            @await Html.PartialAsync("_about.cshtml")

            <div class="card">
                <div class="card-body p-4">
                    @{
                        var tags = Outputs.Get("tags.html")?.GetChildren().OrderByDescending(x =>
                            x.GetChildren().Count).ToArray() ?? Array.Empty<IDocument>();
                        if (tags.Any())
                        {
                            @foreach (var tag in tags)
                            {
                                <a href="@Context.GetLink(tag)" class="badge badge-light"> @tag.GetTitle() (@tag.GetChildren().Count.ToString())</a>
                            }
                            <div class="mt-4">
                                <div class="float-sm-right">
                                    <a class="btn btn-primary" href="@Context.GetLink(Outputs.Get("tags.html"))"
                                       role="button">
                                        All Tags <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>