html {
  font-size: 20px;
}

body {
  background-color: $background;
  color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $font-sans-serif;
}

p {
  font-weight: 400;
  font-family: $font-serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;

  a {
    text-decoration: underline;
    font-family: $font-sans-serif;
  }
}

a {
  color: $blue;

  &:focus,
  &:hover {
    color: $accent;
  }
}