.post-preview {
  background-color: $backgroundAlt;
  padding: 1rem 2rem .5rem;
  margin-bottom: 1rem;

  > a {
    color: $primary;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $accent;
    }

    > .post-title {
      font-size: 2rem;
    }

    > .post-subtitle {
      font-weight: 300;
    }
  }

  > .post-meta {
    color: $secondary;

    > a {
      text-decoration: none;
      color: $secondary;

      &:focus,
      &:hover {
        text-decoration: underline;
        color: $accent;
      }
    }
  }
}

h1.group-year {
  color: $accent;
  text-align: center;
  background-color: $backgroundAlt;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}