<div class="about">
    <div class="card justify-content-center">
        <div class="card-body p-4">
            <img class="card-img-top rounded c-icon-self--lg" src="@Context.GetLink("/assets/images/icon.svg")" alt="icon">

            <hr/>

            <div class="card-text">
                C#が好きなひきこもり
            </div>

            <div class="col">
                <a class="nav-link fab fa-twitter fa-2x c-icon-sns" href="https://twitter.com/AconCavy"></a>
                <a class="nav-link fab fa-github fa-2x c-icon-sns" href="https://github.com/AconCavy"></a>
            </div>

            <img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fatcoder-badges.now.sh%2Fapi%2Fatcoder%2Fjson%2FAconCavy" alt="">
        </div>
    </div>
</div>
