code[class*="language-csharp"],
pre[class*="language-csharp"] {

  //.token.comment {
  //}

  //.token.interpolation-string {
  //  > .interpolation {
  //    > .format-string {
  //      > .punctuation {
  //      }
  //    }
  //
  //    > .punctuation {
  //    }
  //
  //    > .expression.language-csharp {
  //    }
  //  }
  //
  //  > .string {
  //  }
  //}

  .token.string {
    color: $green;

    //> .character {
    //}
  }

  .token.namespace {
    color: $yellow;

    > .punctuation {
      color: $red;
    }
  }

  //.token.type-expression.class-name {
  //  > .keyword {
  //  }
  //
  //  > .punctuation {
  //  }
  //}
  //
  //.token.return-type.class-name {
  //  > .keyword {
  //
  //  }
  //
  //  > .punctuation {
  //
  //  }
  //}

  //.token.constructor-invocation.class-name {
  //  > .keyword {
  //  }
  //
  //  > .punctuation {
  //  }
  //}

  //.token.generic-method {
  //  > .function {
  //  }
  //
  //  > .generic.class-name {
  //    > .keyword {
  //    }
  //
  //    > .punctuation {
  //    }
  //  }
  //}

  .token.type-list {
    //> .keyword {
    //}

    > .class-name {
      color: $purple;

      //  > .keyword {
      //  }
      //
      //  > .punctuation {
      //  }
    }

    //> .punctuation {
    //
    //}
  }

  //.token.preprocessor.property {
  //  > .directive.keyword {
  //  }
  //}
  //
  //.token.attribute {
  //  > .target.keyword {
  //  }
  //
  //  > .attribute-arguments {
  //  }
  //
  //  > .class-name {
  //    > .punctuation {
  //    }
  //  }
  //
  //  > .punctuation {
  //  }
  //}

  .token.class-name {
    color: $yellow;

    > .keyword {
      color: $orange;
    }

    //> .punctuation {
    //
    //}
  }

  .token.keyword {
    color: $purple;
  }

  .token.boolean {
    color: $pink;
  }

  .token.function {
    color: $blue;
  }

  //.token.range.operator {
  //}

  //.token.number {
  //}

  .token.operator {
    color: $cyan;
  }

  .token.named-parameter.punctuation {
    color: $yellow;
  }

  .token.punctuation {
    color: $cyan;
  }
}
