code,
pre,
code[class*="language-"],
pre[class*="language-"] {
  background: #2A2D37;
  font-family: $font-code;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
}

pre {
  padding: 1rem;
}

:not(pre) > code {
  color: $pink;
  margin: 0 .25rem;
  padding: 0 .25rem;
  border-radius: 4px;
  overflow-wrap: break-word;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: $accent;
  background: $backgroundAlt;
  font-size: 1em;
  border-radius: 4px;
  background: rgba(224, 224, 224, 0.2);
}
