code,
pre,
code[class*="language-"],
pre[class*="language-"] {
  color: $primary;
  background: $backgroundAlt;
  font-family: $font-code;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

pre,
pre[class*="language-"] {
  padding: .5rem;
  margin: .5rem 0;
}

:not(pre) > code,
pre,
code[class*="language-"],
pre[class*="language-"] {
  color: $pink;
}

:not(pre) > code {
  padding: 0 .5rem;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: $accent;
  background: $backgroundAlt;
  font-size: 1em;
  background: rgba(224, 224, 224, 0.2);
}
